.amostras-titulo {
    padding-top: 66px;
}

.amostras-box {
    width: 100%;
    height: 300px;
    border: 2px solid #000;
    position: relative;
    margin-bottom: 75px;
}

.amostras-box-scroll-hidden {
    overflow: hidden;
}

.amostras-box-scroll {
    overflow: scroll;
}

.amostras-box::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.amostras-box::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.amostras-box::-webkit-scrollbar-thumb {
    background: #04d282;
}

.amostras-box::-webkit-scrollbar-thumb:hover {
    background: #03975e;
}

.box-techwise {
    background: url("../img/Techwise-template.png") center / cover;
}

.box-motionmotors {
    background: url("../img/MotionMotors-template.png") center / cover;
}

.box-pizzaria {
    background: url("../img/Pizzaria-template.png") center / cover;
}

.box-elitemetal {
    background: url("../img/EliteMetal-template.png") center / cover;
}

.box-innovatek {
    background: url("../img/Innovatek-template.png") center / cover;
}

.amostras-mascara {
    position: absolute;
    background-color: #000;
    height: 100%;
    width: 100%;
    opacity: .6;
    z-index: 0;
}

.amostras-template {
    width: max-content;
    min-height: 100%;
    height: max-content;
}

.amostras-botao-voltar {
    border: none;
    background: #000;
    padding: 3px;
    transition: 250ms;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
}

.amostras-botao-img {
    transform: rotate(180deg);
    width: 20px;
}

.amostras-botao-voltar:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.template-hidden {
    display: none;
}

.amostras-box-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.amostras-imagem {
    margin-bottom: 20px;
}

.logo-techwise {
    width: 180px;
}

.logo-motionmotors {
    width: 100px;
}

.logo-pizzaria {
    width: 140px;
}

.logo-elitemetal {
    width: 115px;
}

.logo-innovatek {
    width: 130px;
}

.amostras-botao {
    border: 2px solid #FFF;
    border-radius: 10px;
    background: transparent;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Titillium Web', sans-serif;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 700;
    width: 100px;
    transition: 250ms;
}

.amostras-botao:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #04d282;
    border-color: #04d282;
}

.container-amostras {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 720px) {
    .amostras-box {
        height: 400px;
        margin-bottom: 100px;
    }

    .amostras-imagem {
        margin-bottom: 45px;
    }

    .amostras-botao {
        font-size: 20px;
        width: 150px;
    }

    .logo-techwise {
        width: 230px;
    }
    
    .logo-motionmotors {
        width: 150px;
    }
    
    .logo-pizzaria {
        width: 200px;
    }
    
    .logo-elitemetal {
        width: 140px;
    }
    
    .logo-innovatek {
        width: 180px;
    }

    .amostras-botao-img {
        width: 40px;
    }
}

@media screen and (min-width: 1024px) {

    .amostras-titulo {
        padding-top: 0;
    }

    .amostras-box {
        height: 600px;
        margin-bottom: 150px;
    }

    .amostras-imagem {
        margin-bottom: 80px;
    }

    .amostras-botao {
        font-size: 24px;
        width: 200px;
    }

    .logo-techwise {
        width: 280px;
    }
    
    .logo-motionmotors {
        width: 180px;
    }
    
    .logo-pizzaria {
        width: 250px;
    }
    
    .logo-elitemetal {
        width: 180px;
    }
    
    .logo-innovatek {
        width: 220px;
    }
}
