.amostras {
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
    
    
}

.container-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

h6 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
}

.container-amostras {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sub-amostras {
    font-weight: 700;
    padding-bottom: 30px;
}

.p-amostras {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

.img-amostras {
    padding-bottom: 30px;
    width: 100%;
}

.last-img {
    margin-bottom: 40px;
}

@media screen and (min-width: 720px) {
    h6 {
        font-size: 26px;
    }
    .sub-amostras {
        font-size: 20px;
    }
    .p-amostras {
        font-size: 24px;
    }
}

@media screen and (min-width: 1024px) {
    h6 {
        font-size: 30px;
    }
    .sub-amostras {
        font-size: 22px;
    }
    .p-amostras {
        font-size: 26px;
    }
    .container-amostras{
        display: flex;
    }
    .box-amostras {
        width: 800px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1400px) {
    h6 {
        font-size: 50px;
    }
    .sub-amostras {
        font-size: 36px;
    }
    .p-amostras {
        font-size: 40px;
    }
    .box-amostras-retangular{
        width: 1200px;
    }
    
}