.amostras-titulo {
    padding-top: 66px;
}

.amostras-box {
    width: 100%;
    height: 200px;
    border: 2px solid #000;
    position: relative;
    margin-bottom: 50px;
}

.box-techwise {
    background: url("../img/Techwise-template.png") center / 300px 300px;
}

.box-motionmotors {
    background: url("../img/MotionMotors-template.png") center / 300px 300px;
}

.box-pizzaria {
    background: url("../img/Pizzaria-template.png") center / 500px 300px;
}

.box-elitemetal {
    background: url("../img/EliteMetal-template.png") center / 325px 325px;
}

.box-innovatek {
    background: url("../img/Innovatek-template.png") center / 350px 350px;
}

.amostras-mascara {
    position: absolute;
    background-color: #000;
    height: 100%;
    width: 100%;
    opacity: .6;
    z-index: 0;
}

.amostras-box-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.amostras-imagem {
    margin-bottom: 20px;
}

.logo-techwise {
    width: 120px;
}

.logo-motionmotors {
    width: 70px;
}

.logo-pizzaria {
    width: 110px;
}

.logo-elitemetal {
    width: 75px;
}

.logo-innovatek {
    width: 90px;
}

.amostras-botao {
    border: 2px solid #FFF;
    border-radius: 10px;
    background: transparent;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Titillium Web', sans-serif;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 700;
    width: 100px;
    transition: 250ms;
}

.amostras-botao:hover {
    cursor: pointer;
    background-color: #535353;
}

.container-amostras {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
