.como-ajudar-descricao {
    color: #000;
    width: 290px;
    font-size: 16px;
    line-height: 24px;
    margin: 32px 0;
}

.como-ajudar-botao {
    background: transparent;
    color: #04D282;
    border: 1px solid #8a8a8a;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: fit-content;

    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 18px;
    transition: 250ms;
}

.como-ajudar-botao:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.como-ajudar-botao:active {
    transform: scale(0.95);
}

.como-ajudar-botao::after {
    content: '';
    background-image: url(../img/flecha-verde.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.foguete-box, .mundo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.como-ajudar-foguete, .frase-mundo {
    width: 180px;
}


@media screen and (min-width: 720px) {
    
    .foguete-box, .mundo-box {
        margin-top: 0;
    }
}

@media screen and (min-width: 1024px) {

    .como-ajudar-descricao {
        font-size: 20px;
        width: 400px;
        margin: 64px 0;
    }
    
    .como-ajudar-botao {
        font-size: 24px;
    }
}
