.destaque-container {
    display: flex;
    align-items: center;
}

.destaque-subtitulo {
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    width: 270px;
    margin-top: 24px;
}

.destaque-botao {
    background: transparent;
    color: #04D282;
    border: 3px solid #04D282;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 27px;
    display: flex;
    align-items: center;

    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 20px;
    transition: 250ms;
}

.destaque-botao::after {
    content: '';
    background-image: url(../img/flecha-verde.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.destaque-botao:hover {
    background-color: #04D282;
    color: #ffffff;
    cursor: pointer;
}

.destaque-botao:hover::after {
    content: '';
    background-image: url(../img/flecha-branca.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.destaque-botao:active {
    transform: scale(0.95);
}

.pc-celular img {
    display: none;
    width: 200px;
    
}

@media screen and (min-width: 720px) {

    .destaque-container {
        justify-content: space-between;
    }
    
    .pc-celular img{
        display: block;
    }
    
    .destaque-subtitulo {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {

    .destaque-subtitulo {
        width: 500px;
        line-height: 30px;
    }
    .pc-celular img{
        width: 280px;
    }

    .destaque-botao {
        margin-top: 70px;
        font-size: 24px;
    }

}
