.rodape {
    background-color: #04D282;
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape-container {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
    border-bottom: 2px solid #000;
}

.rodape-titulo {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

.rodape-subtitulo {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.rodape-botao {
    background: transparent;
    color: #000;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 auto;

    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.rodape-logo {
    width: 150px;
    margin-top: 48px;
}