body {
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Tilt Warp', cursive; */
    font-family: 'Titillium Web', sans-serif;
}

.cabecalho {
    background-color: #011e36;
    display: flex;
    justify-content: center;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

.cabecalho-menu {
    background-color: #011e36;
    border: none;
}

.logo-header {
    width: 129px;
    height: 64px;
}

.menu-lateral-display-none {
    display: none;
}

.menu-lateral-display-flex {
    display: flex;
}

.menu-lateral {
    flex-direction: column;
    background-color: #011e36;
    width: 75vw;
    height: 100vh;
    padding-top: 30px;

    position: absolute;
    top: 64px;
    right: -100vw;
    transition: .25s;
}

#menu-lateral-ativo {
    right: 0;
    top: 64px;
}

.menu-lateral-logo {
    align-self: center;
    width: 70px;
    margin-bottom: 30px;
}
.menu-lateral-link {
    margin-bottom: 64px;
    color: #02467e;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 15px;
}

.contato-header {
    width: fit-content;
    background-color: #04D282;
    padding: 10px;
    border-radius: 9px;
}

/* SECTION DESTAQUE */

.realce {
    color: #04D282;
}

.destaque, .profissionalize, .vantagens {
    background-color: #011e36;
    padding: 64px 20px 0 20px;
}

.titulo-principal {
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
    line-height: 43px;
    width: 290px;
}

.destaque-subtitulo {
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    width: 270px;
    margin-top: 24px;
}

.destaque-botao {
    background: transparent;
    color: #04D282;
    border: 3px solid #04D282;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 27px;
    display: flex;
    align-items: center;

    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.destaque-botao::after {
    content: '';
    background-image: url(../img/flecha-verde.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.linha-divisoria {
    display: block;
    height: 5px;
    width: 100px;
    background-color: #ffffff;
    margin-top: 69px;
}

/* SECTION PROFISIONALIZE */

.profissionalize-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

.profissionalize-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.profissionalize-item:first-child {
    margin-top: 0;
}

.profissionalize-titulo {
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 24px;
}

/* SECTION VANTAGENS */

.vantagens-container {
    margin-top: 64px;
    padding-bottom: 64px;
}

.vantagens-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.vantagens-item:first-child {
    margin-top: 0;
}

.vantagens-item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vantagens-titulo {
    color: #04D282;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 2px solid #FFFFFF;
}

.vantagens-subtitulo {
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-top: 20px;
}

/* SECTION O QUE FAZEMOS */

.o-que-fazemos, .como-ajudar {
    background-color: #FFFFFF;
    padding: 64px 20px 0 20px;
}

.titulo-principal-preto {
    font-size: 28px;
    color: #000;
    font-weight: 700;
    line-height: 43px;
    width: 290px;
}

.o-que-fazemos-subtitulo {
    color: #04D282;
    font-weight: 700;
    width: 290px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
}

.o-que-fazemos-container {
    margin-top: 64px;
}

.o-que-fazemos-item {
    margin-top: 40px;
}

.o-que-fazemos-item:first-child {
    margin-top: 0;
}

.o-que-fazemos-icone {
    width: 70px;
}

.o-que-fazemos-titulo {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin-top: 8px;
}

.o-que-fazemos-descricao {
    color: #8a8a8a;
    font-size: 16px;
    line-height: 21px;
    margin-top: 10px;
}

.linha-divisoria-cinza {
    display: block;
    height: 5px;
    width: 100px;
    background-color: #8a8a8a;
    margin-top: 69px;
}

/* SECTION COMO AJUDAR */

.como-ajudar-descricao {
    color: #000;
    width: 290px;
    font-size: 16px;
    line-height: 24px;
    margin: 32px 0;
}

.como-ajudar-botao {
    background: transparent;
    color: #04D282;
    border: 1px solid #8a8a8a;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;

    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.como-ajudar-botao::after {
    content: '';
    background-image: url(../img/flecha-verde.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.foguete-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.como-ajudar-foguete {
    width: 180px;
}
