@import url('./destaque.css');
@import url('./profisionalize.css');
@import url('./vantagens.css');
@import url('./oquefazemos.css');
@import url('./comoajudar.css');
@import url('./rodape.css');
@import url('./cabecalho.css');

body {
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Tilt Warp', cursive; */
    font-family: 'Titillium Web', sans-serif;
}


/* SECTION FRASE */

.frase-autor {
    color: #04D282;
    font-size: 16px;
    text-align: end;
    width: 290px;
}

.mundo-box {
    margin-bottom: 64px;
}

